

# Practical_1: Variables and Assignments

----

### Exercise 1:
Declare a variable `x` and assign it the value `10`.

```python
# Exercise 1

In [ ]:
x = 10

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

```python
# Exercise 2

In [ ]:
is_valid = True

### Exercise 3:
Create a string variable `name` with the value "Python Programming".

```python
# Exercise 3

In [ ]:
name = "Python Programming"

### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

```python
# Exercise 4

In [ ]:
sum_result = 5 + 3

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

```python
# Exercise 5

In [ ]:
a, b, c = 5, 10, 15

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

```python
# Exercise 6

In [ ]:
x = 2
y = x

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

```python
# Exercise 7

In [ ]:
gravity = 9.8

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

```python
# Exercise 8

In [ ]:
country = 'DRC'

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

```python
# Exercise 9

In [ ]:
#step1
age = 25
age_1 = age + 1
print(age_1)

26

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

```python
# Exercise 10

In [ ]:
x = 20
y = 7
result = (x-y)
print(x)

20

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

```python
# Exercise 11

In [ ]:
x = 2
y = 2.5

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

```python
# Exercise 12

In [ ]:
is_completed = False

### Exercise 13:
Swap the values of two variables `x` and `y`.

```python
# Exercise 13

In [ ]:
x = 5
y = 8
x = x+y; y = x-y; x = x-y
print(x,y)

8 5

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

```python
# Exercise 14

In [ ]:
complex_number = 3 + 4j
type(complex_number)

complex

### Exercise 15:
Reassign a variable from an integer to a string

```python
# Exercise 15

In [ ]:
x = 15
y = str(x)
type(y)

str

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

```python
# Exercise 16

In [ ]:
first_name = 'Luc'
last_name = 'Isengwe'

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

```python
# Exercise 17

In [ ]:
temperature = 35.5

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

```python
# Exercise 18

In [ ]:
x = 8
y = 6
Product = x*y
print(Product)

48

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

```python
# Exercise 19

In [ ]:
sentence = "Maman va au marché"

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python
# Exercise 20

In [ ]:
x = 50.0
int_value = int(x)
type(int_value)

int

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

```python
# Exercise 21

In [ ]:
a = 144
b = 12
quotient = a/b
print(quotient)

12.0

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python
# Exercise 22

In [ ]:
a = 47
b = 5
remainder = a%b
print("remainder = ", remainder)

remainder =  2

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python
# Exercise 23

In [ ]:
is_student = True

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python
# Exercise 24

In [ ]:
a = 45
b = 4
c = a%b
print("c = ", c)

c =  1

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python
# Exercise 25

In [ ]:
pi = 3.14159

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python
# Exercise 26

In [ ]:
lengh = 15
width = 4
area_of_rectangle = lengh*width
print('The area_of_rectangle equals', area_of_rectangle)

The area_of_rectangle equals 60

### Exercise 27:
Assign a negative number to a variable `negative_value`.

```python
# Exercise 27

In [ ]:
negative_value = -45

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

```python
# Exercise 28

In [ ]:
greeting = "Hello, dear"

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

```python
# Exercise 29

In [ ]:
population = 1030708060000

### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

```python
# Exercise 30

In [ ]:
x = 2
y = 8
c = x**y
c

256

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

```python
# Exercise 31

In [ ]:
fruits = ["ananas", "citron", "orange"]

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python
# Exercise 32

In [ ]:
coordinates = (10, 15, 16)

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python
# Exercise 33

In [ ]:
person = {"name": "Luc", "age": 30}
print(person)

{'name': 'Luc', 'age': 30}

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python
# Exercise 34

In [ ]:
number_1 = 16.7
number_2 = 15.6
zi = number_1+number_2
print("zi =", zi)

zi = 32.3

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

```python
# Exercise 35

In [ ]:
is_sunny = 10 > 5

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

```python
# Exercise 36

In [ ]:
var_1 = "Luc"
var_2 = 25
print(var_1, var_2)

Luc 25

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

```python
# Exercise 37

In [ ]:
my_number = 38
print(type(my_number))
my_number = True

print("=======================", '\n')
print(type(my_number))

<class 'int'>
=======================

<class 'bool'>

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python
# Exercise 38

In [ ]:
is_weekend = False

### Exercise 39:
Assign a multi-line string to a variable `description`.

```python
# Exercise 39

In [ ]:
description = ''' Bonsoir à vous
j'espère que vous
êtes bien portant'''
print(description)

 Bonsoir à vous
j'espère que vous
êtes bien portant

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

```python
# Exercise 40

In [ ]:
V_1 = -25
print(abs(V_1))

25

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python
# Exercise 41

In [ ]:
h = 100
i = 6
floor_div_result = h//i
print(floor_div_result)

16

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python
# Exercise 42

In [ ]:
i_n = 27
f_n = 10.7
mixed_sum = i_n + f_n
print("mixed_sum = ", mixed_sum)

mixed_sum =  37.7

### Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

```python
# Exercise 43

In [ ]:
a = 10
b = 15
comparison = (a!=b)
print('the comparison is ',comparison)

the comparison is  True

### Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.

```python
# Exercise 44

In [ ]:
chaine_de_caract = 'He is very funny'
len(chaine_de_caract)

16

### Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python
# Exercise 45

In [ ]:

division_result = 7/3
print('division_result = ', division_result)

division_result =  2.3333333333333335

### Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

```python
# Exercise 46

In [ ]:
speed = 100
print('speed = ', speed, 'Km/h')

speed =  100 Km/h

### Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

```python
# Exercise 47

In [ ]:
x = 4
y =3*x + 5
print(y)

17

### Exercise 48:
Use variables to calculate and store the average of three numbers.

```python
# Exercise 48

In [ ]:
a = 3
b = 7
c = 5
average =(a+b+c)/3
print('the average is ', average)

the average is  5.0