# Practical_3: Iterable objects or Containers


### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1

In [4]:
list_1 = [1,2,3,4,5,6,7,8,9,10]
print(list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2

In [6]:
tuple_1 = ("apple", "banana","cherry")
print(tuple_1)

('apple', 'banana', 'cherry')

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3

In [7]:
numbers = [10, 20, 30, 40]
convert_numbers= tuple [10, 20, 30, 40]
print(convert_numbers)

tuple[10, 20, 30, 40]

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4

In [8]:
set_1 = {1, 2, 3, 4, 5}
print(set_1)

{1, 2, 3, 4, 5}

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

In [13]:
student = {"name" : "Alice" ,  "age" :  20, "grade" : "A"}
print(student)

{'name': 'Alice', 'age': 20, 'grade': 'A'}

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

In [14]:
list_2 = [10, 20, 30, 40, 50]
print(list_2[1])

20

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

In [23]:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[3] = "mango"
print(fruits)

['apple', 'banana', 'cherry', 'mango']

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8

In [27]:
set_1 = {1, 2, 3, 4, 5}
Add_number = set_1.add(6)
set_1

{1, 2, 3, 4, 5, 6}

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

In [31]:
person = {"name": "John", "age": 25, "city": "New York"}
del person["age"]
person

{'name': 'John', 'city': 'New York'}

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10

In [ ]:
star_1 = ('1,2,3,4,5,6,7,8,9')
star_1.line

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11

In [8]:
squares =[i**2 for i in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12

In [6]:
even_numbers = tuple(i for i in range(2, 11) if i % 2 == 0)
print(even_numbers)

(2, 4, 6, 8, 10)

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13

In [18]:
fruits = ["apple", "banana", "cherry"]
for i in fruits :
    print(i)

apple
banana
cherry

In [ ]:
### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

In [21]:
numbers = {1, 2, 3, 4, 5}
x = 3
if x in numbers:
    print('x exist in the set')
else :
    print('x is not exist in the set')

x exist in the set

In [ ]:
### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15

In [22]:
numbers = (10, 20, 30)
x =len(numbers)
print('the length of the numbers is : ', x)

the length of the numbers is :  3

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16

In [26]:
scores = [80, 85, 90, 95]
scores.append(100)
print(scores)

[80, 85, 90, 95, 100]

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17

In [32]:
def sum_list(lista):
    total = 0
    for num in lista:
        total += num
    return total

numbers = [1, 2, 3, 4, 5]
print('The sum of numbers is : ',sum_list(numbers))

The sum of numbers is :  15

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18

In [35]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_elements = set(numbers)
print(unique_elements)

{1, 2, 3, 4, 5}

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19

In [37]:
string_1 = "hello"
Char = set(string_1)
print(Char)

{'o', 'e', 'h', 'l'}

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20

In [40]:
def reverse_tuple(enter_tuple):
  """
  Reverses the elements of a tuple that given .

  parameter:
    enter_tuple: The tuple to be reversed.

  Returns:
    A new tuple with the elements in reverse order.
  """
  return enter_tuple[::-1]

my_tuple = (1, 2, 3, 4)
print(reversed_tuple)

(4, 3, 2, 1)

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

In [42]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dic = dict1 | dict2
print(dic)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22

In [44]:
dicti = {number: number**2 for number in range(1, 6)}
print(dicti)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23

In [53]:
def print_dictionary(my_dict):
  """
  Iterates through a dictionary and prints each key-value pair.

  parameter:
    my_dict: The dictionary to iterate.
  """
  for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

AIMS = {"name": "Luc","age": 25,"city": "Mbour","occupation": "Student"}

print_dictionary(AIMS)

Key: name, Value: Luc
Key: age, Value: 25
Key: city, Value: Mbour
Key: occupation, Value: Student

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24

In [55]:
letters = [chr(i) for i in range(97, 102)]  # Code ASCII  for 'a' to 'e'
print(letters)

['a', 'b', 'c', 'd', 'e']

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25

In [57]:
numbers = [1, 2, 3]
letters = ["a", "b", "c"]
sum1 = list(zip(numbers, letters))
print(sum1)

[(1, 'a'), (2, 'b'), (3, 'c')]

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26

In [58]:
list1 = [10, 20, 30, 40, 50]
position = list1.index(50)
print(position)

4

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27

In [62]:
names = ["Alice", "Bob", "Charlie", "David"]
names.sort()
print(names)

['Alice', 'Bob', 'Charlie', 'David']

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

In [65]:
def find_largest(numbers):
    return max(numbers)

my_list = [3, 7, 2, 9, 5, 4, 9]
print(find_largest(my_list))

9

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29

In [72]:
fruits = ["apple", "banana", "apple", "orange"]
x = fruits.count('apple')
print('the word apple is', x, 'times in the list fruits')

the word apple is 2 times in the list fruits

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30

In [73]:
dict1 = {"name" : "Alice", "age" : 25, "city" : "New York"}   # create the dictionnary
value_city = dict1["city"]  # To access the value of the city key
print(value_city)

New York

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

In [74]:
def remove_duplicates(lst):   # create the dictionnary
    return list(set(lst))  # do the list in set and the set doesn't containt duplicates

my_list = [1, 2, 2, 3, 4, 4, 5, 7]
new_list = remove_duplicates(my_list)   # call the function
print(new_list)

[1, 2, 3, 4, 5, 7]

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32

In [76]:
def intersection(list1, list2):
    return list(set(list1) & set(list2)) 

list_a = [1, 2, 3, 4, 6]
list_b = [3, 4, 5, 6]
result = intersection(list_a, list_b)
print(result)

[3, 4, 6]

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33

In [78]:
# Define the generator
def square_generator():
    for i in range(1, 11):
        yield i ** 2
for square in square_generator():
    print(square)

1
4
9
16
25
36
49
64
81
100

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34

In [79]:
def sum_values(z):
    return sum(z.values())

my_dict = {"a": 10, "b": 20, "c": 30}
result = sum_values(my_dict)
print(result)

60

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35

In [80]:
numbers = [3, 1, 4, 1, 5, 9]
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[1, 1, 3, 4, 5, 9]

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36

In [82]:
def longest_string(strings):
    if not strings:
        return None  # Return None if the list is empty
    return max(strings, key=len)

my_list = ["apple", "banana", "cherry", "date", "Aims-Senegal"]
result = longest_string(my_list)
print(result)

Aims-Senegal

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

In [84]:
numbers = [1, 2, 3, 4, 5]
# Check if all numbers are greater than 0
all_greater_than_zero = all(n > 0 for n in numbers)
print(all_greater_than_zero)

True

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

In [85]:
numbers_and_squares = [(i, i**2) for i in range(1, 6)]
print(numbers_and_squares)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39

In [86]:
def second_elements(tuple_list):
    return [t[1] for t in tuple_list]
my_tuples = [(1, 'a'), (2, 'b'), (3, 'c')]
result = second_elements(my_tuples)
print(result)

['a', 'b', 'c']

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

In [1]:
def flatten_list(list_of_lists):
    return [item for sublist in list_of_lists for item in sublist]
nested_list = [[1, 2], [3, 4], [5]]
flat_list = flatten_list(nested_list)
print(flat_list)

[1, 2, 3, 4, 5]

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41

In [2]:
fruits = ["apple", "banana", "cherry"]

for index, value in enumerate(fruits):
    print(index, value)

0 apple
1 banana
2 cherry

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42

In [5]:
# create tuples
tuple1 = ()
tuple2 = (1, 2, 3)

# Function to check if a tuples is empty
def is_empty_tuple(tuple12):
    return len(tuple12) == 0

# Test the function
print(is_empty_tuple(tuple1))  
print(is_empty_tuple(tuple2))

True
False

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43

In [91]:
# Use the range fonction(start, stop, step)
even_numbers = list(range(2, 21, 2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44

In [96]:
def numbers(liste):
    return liste[::-1]
my_liste = [1, 3, 4, 7, 8, 19, 10]
numbers = numbers(my_liste)
print(numbers)

[10, 19, 8, 7, 4, 3, 1]

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45

In [97]:
cubes = {x: x**3 for x in range(1, 6)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

In [98]:
#  list
numbers = [1, 2, 2, 3, 4, 4, 5]

# Using set() to remove duplicates
unique_numbers = list(set(numbers))
print(unique_numbers)

[1, 2, 3, 4, 5]

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47

In [99]:
def get_values(dict_list, key):
    return [d[key] for d in dict_list if key in d]

people = [{"name": "Alice", "age": 25},{"name": "Bob", "age": 30},{"name": "Charlie", "age": 22}]

names = get_values(people, "name")
print(names)

['Alice', 'Bob', 'Charlie']

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

In [7]:
def fibonacci(n):
    a, b = 0, 1
    for i in range(n):
        yield a
        a, b = b, a + b

for num in fibonacci(10):
    print(num)

0
1
1
2
3
5
8
13
21
34

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49

In [103]:
def unique_characters(s):
    return list(set(s))

my_string = "hello world"
unique_chars = unique_characters(my_string)
print(unique_chars)

['o', 'h', 'd', 'w', 'r', ' ', 'l', 'e']

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50

In [104]:
def merge_sorted_lists(list1, list2):
    merged = []
    i = j = 0

    # Merge the lists
    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged.append(list1[i])
            i += 1
        else:
            merged.append(list2[j])
            j += 1

    # Add remaining elements
    while i < len(list1):
        merged.append(list1[i])
        i += 1

    while j < len(list2):
        merged.append(list2[j])
        j += 1

    return merged

# Example usage
list_a = [1, 3, 5]
list_b = [2, 4, 6]
result = merge_sorted_lists(list_a, list_b)
print(result)

[1, 2, 3, 4, 5, 6]

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51

In [105]:
numbers = [1, 2, 3, 4, 5, 6]
# Filter odd numbers
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6]

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52

In [106]:
# List of tuples
tuple_list = [(1, 2), (3, 4), (5, 6)]

# Convert into a dictionary
result_dict = dict(tuple_list)
print(result_dict)

{1: 2, 3: 4, 5: 6}

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54

In [108]:
#  lists
list1 = [1, 2, 3, 4, 7]
list2 = [2, 3, 5, 6]
list3 = [0, 2, 3, 7]

# Using set intersection
common_elements = list(set(list1) & set(list2) & set(list3))
print(common_elements)

[2, 3]

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55

In [109]:
def factorial(n):
    if n == 0 or n == 1:  # case predefine
        return 1
    else:
        return n * factorial(n - 1)  # Recursive call

print(factorial(5))

120

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56

In [110]:
# list
fruits = ["apple", "", "banana", "", "cherry"]

# Remove empty strings
non_empty_fruits = [fruit for fruit in fruits if fruit != ""]
print(non_empty_fruits)

['apple', 'banana', 'cherry']

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57

In [111]:
def swap_keys_values(d):
    return {v: k for k, v in d.items()}
my_dict = {"a": 1, "b": 2, "c": 3}
swapped_dict = swap_keys_values(my_dict)
print(swapped_dict)

{1: 'a', 2: 'b', 3: 'c'}

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58

In [112]:
def get_even_numbers(numbers):
    return [num for num in numbers if num % 2 == 0]

my_list = [1, 2, 3, 4, 5, 6]
even_numbers = get_even_numbers(my_list)
print(even_numbers)

[2, 4, 6]

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59

In [113]:
def first_elements(tuple_list):
    return [t[0] for t in tuple_list]

my_tuples = [(1, 'a'), (2, 'b'), (3, 'c')]
result = first_elements(my_tuples)
print(result)

[1, 2, 3]

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60

In [114]:
#list
numbers = [1, 2, 2, 3, 4, 4, 5]
# Remove duplicates while preserving order
unique_numbers = []
for num in numbers:
    if num not in unique_numbers:
        unique_numbers.append(num)

print(unique_numbers)

[1, 2, 3, 4, 5]

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61

In [115]:
# List of string
words = ["apple", "banana", "cherry"]

# Using map to get lengths
lengths = list(map(len, words))
print(lengths)

[5, 6, 6]

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62

In [116]:
# List of numbers
numbers = [10, 20, 30, 40, 50]
# Calculate average
average = sum(numbers) / len(numbers)
print("Average:", average)

Average: 30.0

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63

In [8]:
def fibonacci_list(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    
    fib = [0, 1]
    while len(fib) < n:
        fib.append(fib[-1] + fib[-2])
    return fib

print(fibonacci_list(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64

In [9]:
#  list
fruits = ["apple", "banana", "apple", "cherry"]

# Use a dictionary to count occurrences
count_dict = {}
for fruit in fruits:
    if fruit in count_dict:
        count_dict[fruit] += 1
    else:
        count_dict[fruit] = 1

print(count_dict)

{'apple': 2, 'banana': 1, 'cherry': 1}

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65

In [10]:
#  list
numbers = [1, 2, 3, 2, 4, 2, 5]

# Value to remove
value_to_remove = 2

# Remove all occurrences using list comprehension
filtered_list = [num for num in numbers if num != value_to_remove]
print(filtered_list)

[1, 3, 4, 5]

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66

In [123]:
def starts_with_vowel(words):
    vowels = "aeiouAEIOU"
    return [word for word in words if word and word[0] in vowels]

my_list = ["apple", "banana", "orange", "grape", "umbrella"]
result = starts_with_vowel(my_list)
print(result)

['apple', 'orange', 'umbrella']

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67

In [124]:
# sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find intersection
intersection = set1 & set2
print(intersection)

{3, 4}

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68

In [125]:
def flatten_list(nested_list):
    flat_list = []
    for element in nested_list:
        if isinstance(element, list):
            flat_list.extend(flatten_list(element))  # Recursive call
        else:
            flat_list.append(element)
    return flat_list

# Example usage
nested = [1, [2, [3, 4], 5], 6]
flattened = flatten_list(nested)
print(flattened)

[1, 2, 3, 4, 5, 6]

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69

In [126]:
# list
numbers = [1, 2, 3, 4, 5]

# Check uniqueness
all_unique = len(numbers) == len(set(numbers))
print(all_unique)

True

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70

In [127]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]

# Multiply all elements using reduce
product = reduce(lambda x, y: x * y, numbers)
print(product)

120

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71

In [128]:
def strings_to_lengths(strings):
    return {s: len(s) for s in strings}

words = ["apple", "banana", "cherry"]
result = strings_to_lengths(words)
print(result)

{'apple': 5, 'banana': 6, 'cherry': 6}

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72

In [129]:
# Astring
text = "Hello World"

# Define vowels
vowels = "aeiouAEIOU"

# Count vowels using a loop
count = sum(1 for char in text if char in vowels)
print("Number of vowels:", count)

Number of vowels: 3

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73

In [130]:
import math

# Create list of tuples (number, factorial)
factorial_list = [(i, math.factorial(i)) for i in range(1, 6)]
print(factorial_list)

[(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74

In [131]:
# List of dictionaries
dict_list = [{"a": 1, "b": 2}, {"c": 3}, {"d": 4, "b": 5}]

# Merge dictionaries
merged_dict = {}
for d in dict_list:
    merged_dict.update(d)

print(merged_dict)

{'a': 1, 'b': 5, 'c': 3, 'd': 4}

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75

In [132]:
def is_subset(set1, set2):
    return set1.issubset(set2)

a = {1, 2, 3}
b = {1, 2, 3, 4, 5}

print(is_subset(a, b))  
print(is_subset(b, a))

True
False

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76

In [133]:
# List of tuples
tuples_list = [(1, 3), (2, 1), (4, 2), (3, 5)]

# Sort based on the second element
sorted_list = sorted(tuples_list, key=lambda x: x[1])
print(sorted_list)

[(2, 1), (4, 2), (1, 3), (3, 5)]

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77

In [134]:
def positive_integers(numbers):
    return [num for num in numbers if num > 0]

# Example usage
my_list = [-3, 2, -1, 5, 0, -7, 4]
result = positive_integers(my_list)
print(result)

[2, 5, 4]

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78

In [135]:
def union_sets(set1, set2):
    return set1.union(set2)

# Example usage
a = {1, 2, 3}
b = {3, 4, 5}

result = union_sets(a, b)
print(result)

{1, 2, 3, 4, 5}

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79

In [140]:
from functools import reduce

def product_of_list(numbers):
    return reduce(lambda x, y: x * y, numbers, 1)  # 1 is the initial value

my_list = [1, 2, 3, 4, 5]
result = product_of_list(my_list)
print(result)

120

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80

In [141]:
# List of characters
char_list = ['H', 'e', 'l', 'l', 'o']

# Convert list to string
result_string = ''.join(char_list)
print(result_string)

Hello

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81

In [144]:
# list
numbers = [10, 20, 4, 45, 99, 99]

# Remove duplicates and sort
unique_numbers = list(set(numbers))
unique_numbers.sort()

# Get the second largest
if len(unique_numbers) >= 2:
    second_largest = unique_numbers[-2]
    print(" The Second largest number is", second_largest)
else:
    print("Not enough unique numbers to find the second largest.")

 The Second largest number is 45

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82

In [145]:
def sorted_keys(d):
    return sorted(d.keys())

# Example usage
my_dict = {"banana": 3, "apple": 5, "cherry": 2}
result = sorted_keys(my_dict)
print(result)

['apple', 'banana', 'cherry']

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83

In [146]:
from collections import Counter

# list
elements = ["apple", "banana", "apple", "cherry", "banana", "apple"]

# Count occurrences
counter = Counter(elements)

# Get the most common element
most_common_element, count = counter.most_common(1)[0]
print("Most common element:", most_common_element)
print("Count:", count)

Most common element: apple
Count: 3

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84

In [11]:
def sort_by_first_element(tuple_list):
    return sorted(tuple_list, key=lambda x: x[0])

tuples = [(3, 'c'), (1, 'a'), (2, 'b')]
sorted_tuples = sort_by_first_element(tuples)
print(sorted_tuples)

[(1, 'a'), (2, 'b'), (3, 'c')]

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85

In [148]:
# List of dictionaries with duplicates
dict_list = [
    {"a": 1, "b": 2},
    {"c": 3},
    {"a": 1, "b": 2},
    {"d": 4}
]

# Remove duplicates
unique_dicts = []
seen = set()
for d in dict_list:
    # Convert dictionary to a tuple of sorted items so it can be added to a set
    t = tuple(sorted(d.items()))
    if t not in seen:
        seen.add(t)
        unique_dicts.append(d)

print(unique_dicts)

[{'a': 1, 'b': 2}, {'c': 3}, {'d': 4}]

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86

In [149]:
def min_max(numbers):
    if not numbers:
        return None, None  # Handle empty list
    return min(numbers), max(numbers)

# Example usage
nums = [10, 3, 5, 7, 2, 8]
minimum, maximum = min_max(nums)
print("Minimum:", minimum)
print("Maximum:", maximum)

Minimum: 2
Maximum: 10

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87

In [150]:
# Two lists
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

# Create list of tuples to use zip
tuple_list = list(zip(list1, list2))
print(tuple_list)

[(1, 'a'), (2, 'b'), (3, 'c')]

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88

In [151]:
def reverse_strings(strings):
    return strings[::-1]

# Example usage
words = ["apple", "banana", "cherry"]
reversed_words = reverse_strings(words)
print(reversed_words)

['cherry', 'banana', 'apple']

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89

In [152]:
def sum_of_odds(numbers):
    return sum(num for num in numbers if num % 2 != 0)

nums = [1, 2, 3, 4, 5, 6, 7]
result = sum_of_odds(nums)
print(result)

16

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90

In [153]:
# string
text = "Dakar"

# Check if palindrome
is_palindrome = text == text[::-1]
print(is_palindrome)

False

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91

In [154]:
# list
numbers = [10, 2, 38, 23, 38, 23, 21]

# Sort the list
numbers.sort()

# Calculate median
n = len(numbers)
if n % 2 == 1:
    median = numbers[n // 2]  # Middle element for odd length
else:
    median = (numbers[n // 2 - 1] + numbers[n // 2]) / 2  # Average of middle two for even length

print("Median:", median)

Median: 23

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92

In [155]:
def sum_dicts(dict_list):
    total = {}
    for d in dict_list:
        for key, value in d.items():
            total[key] = total.get(key, 0) + value
    return total

# Example usage
dicts = [
    {"a": 2, "b": 3},
    {"a": 5, "b": 2, "c": 4},
    {"b": 1, "c": 3}
]

result = sum_dicts(dicts)
print(result)

{'a': 7, 'b': 6, 'c': 7}

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93

In [156]:
from collections import Counter

# list
numbers = [1, 2, 3, 2, 4, 2, 5, 3, 3]

# Count occurrences
counter = Counter(numbers)

# Find the highest frequency
max_count = max(counter.values())

# Find all numbers with the highest frequency (handle multimodal)
mode = [num for num, count in counter.items() if count == max_count]

print("Mode:", mode)

Mode: [2, 3]

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94

In [157]:
def sum_of_squares(numbers):
    return sum(num ** 2 for num in numbers)

# Example usage
nums = [1, 2, 3, 4, 5]
result = sum_of_squares(nums)
print(result)

55

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95

In [158]:
# Create list of tuples (number, cube)
cube_list = [(i, i**3) for i in range(1, 6)]
print(cube_list)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96

In [12]:
def primes_up_to(n):
    primes = []
    for num in range(2, n + 1):
        is_prime = True
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(num)
    return primes

print(primes_up_to(20))

[2, 3, 5, 7, 11, 13, 17, 19]

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97

In [160]:
# dictionaries
dict1 = {"a": 1, "b": 2, "c": 3}
dict2 = {"b": 3, "c": 4, "d": 5}

# Find common keys
common_keys = dict1.keys() & dict2.keys()
print(common_keys)

{'b', 'c'}

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98

In [161]:
def long_strings(strings):
    return [s for s in strings if len(s) > 5]

# Example usage
words = ["apple", "banana", "cherry", "fig", "watermelon"]
result = long_strings(words)
print(result)

['banana', 'cherry', 'watermelon']

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99

In [162]:
# Example list of strings
words = ["apple", "banana", "cherry"]

# Create list of tuples (string, length)
tuple_list = [(word, len(word)) for word in words]
print(tuple_list)

[('apple', 5), ('banana', 6), ('cherry', 6)]

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100

In [163]:
def sum_dict_values(dict_list):
    total = {}
    for d in dict_list:
        for key, value in d.items():
            total[key] = total.get(key, 0) + value
    return total

dicts = [{"a": 2, "b": 3},{"a": 5, "b": 2, "c": 4},{"b": 1, "c": 3}]

result = sum_dict_values(dicts)
print(result)

{'a': 7, 'b': 6, 'c': 7}